# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=
FIREBASE_MESSAGING_SENDER_ID=

# Backend API
API_BASE_URL=
SOCKET_URL=

# Google Maps
GOOGLE_MAPS_API_KEY=

# Razorpay
RAZORPAY_KEY_ID=
